<div class = "row">
  <div class="col-md-8">
    <div class="media-body">
         <h2 class="media-heading"><%= @user.name %></h2>
         <h2> <%= @user.email %> </h2>
         <p> <%= render 'items/form' %> </p>
         <p> <%= render @items %> </p>
         <div class='js-items-count'><%= pluralize(@user.items.count, 'item') %></div>
        </div>
      </div>
    </div>
